
config vpn ipsec phase1-interface
    edit "IPSEC-TU1"
        set interface "wan1"
        set ike-version 2
        set authmethod psk
        set psksecret 89sdu89vfyhuiwe49j
        set remote-gw 203.0.113.10
        set local-gw 198.51.100.20
        set proposal aes256-sha256
        set dhgrp 14
        set keylife 28800
        set dpd on-idle
        set dpd-retrycount 3
        set dpd-retryinterval 10
        set comments "VPN to Palo Alto"
    next
end
#
config vpn ipsec phase2-interface
    edit "IPSEC-TU1-P2"
        set phase1name "IPSEC-TU1"
        set proposal aes256-sha256
        set dhgrp 14
        set pfs enable
        set keylife-type seconds
        set keylifeseconds 3600
        set src-subnet 10.2.1.0 255.255.255.0
        set dst-subnet 10.1.1.0 255.255.255.0
        set replay enable
        set comments "Phase2 to Palo Alto"
    next
end
#
config system interface
    edit "IPSEC-TU1"
        set vdom "root"
        set ip 10.32.160.2 255.255.255.255
        set type tunnel
        set remote-ip 10.32.160.1 255.255.255.255
        set interface "wan1"
        set comments "IPSEC-TU1 to Palo Alto"
    next
end
#
config router static
    edit 1
        set dst 10.1.1.0 255.255.255.0
        set device "IPSEC-TU1"
        set comment "Route to Palo Alto LAN"
    next
end
#
config firewall policy
    edit 1
        set name "LAN-TO-VPN"
        set srcintf "internal"
        set dstintf "IPSEC-TU1"
        set srcaddr "10.2.1.0/24"
        set dstaddr "10.1.1.0/24"
        set action accept
        set schedule "always"
        set service "ALL"
        set comments "Allow traffic to Palo Alto"
    next
end
#
config firewall policy
    edit 2
        set name "VPN-TO-LAN"
        set srcintf "IPSEC-TU1"
        set dstintf "internal"
        set srcaddr "10.1.1.0/24"
        set dstaddr "10.2.1.0/24"
        set action accept
        set schedule "always"
        set service "ALL"
        set comments "Allow traffic from Palo Alto"
    next
end

#validação
get vpn ike gateway IPSEC-TU1
get vpn ipsec tunnel summary
diagnose vpn ike gateway list
diagnose vpn tunnel list
