#Configuração PHASE 1
config vpn ipsec phase1-interface
    edit "IPSEC-TU1"
        set interface "port3"
        set ike-version 2
        set peertype any
        set remote-gw 203.0.113.10
        set proposal aes256-sha256
        set dhgrp 14
        set keylife 28800
        set authmethod psk
        set psksecret "JJjdjnnjcv9fugp"
        set net-device enable
    next

#Configuração PHASE 2
config vpn ipsec phase2-interface
    edit "IPSEC-TU1-P2"
        set phase1name "IPSEC-TU1"
        set proposal aes256-sha256
        set pfs enable
        set dhgrp 14
        set keylifeseconds 3600
        set src-subnet 20.1.1.0 255.255.255.0
        set dst-subnet 10.1.1.0 255.255.255.0
    next
end

#Criação da interface virtual para o túnel VPN
config system interface
    edit "IPSEC-TU1"
        set ip 169.255.1.2 255.255.255.252
        set allowaccess ping
    next
end

#Configuração de rota estática para o tráfego destinado à Fortigate
config router static
    edit 10
        set dst 10.1.1.0 255.255.255.0
        set device "IPSEC-TU1"
    next
end

#Objeto para a rede local
config firewall address
    edit "LAN-LOCAL"
        set subnet 10.2.1.0 255.255.255.0
    next

#Objeto para a rede remota
    edit "LAN-REMOTE"
        set subnet 10.1.1.0 255.255.255.0
    next
end

#Regra de firewall para permitir o tráfego da LAN para a VPN
config firewall policy
    edit 1
        set name "LAN-VPN"
        set srcintf "port2"
        set dstintf "IPSEC-TU1"
        set srcaddr "LAN-LOCAL"
        set dstaddr "LAN-REMOTE"
        set action accept
        set schedule always
        set service ALL
        set nat disable
    next
end

#Regra de firewall para permitir o tráfego da VPN para a LAN
config firewall policy
    edit 2
        set name "VPN-LAN"
        set srcintf "IPSEC-TU1"
        set dstintf "port2"
        set srcaddr "LAN-REMOTE"
        set dstaddr "LAN-LOCAL"
        set action accept
        set schedule always
        set service ALL
        set nat disable
    next
end

#Comandos uteis para verificar o status da VPN

diagnose vpn ike gateway list
diagnose vpn tunnel list
get router info routing-table all
execute ping 203.0.113.10
execute ping-options source 20.1.1.1
execute ping 10.1.1.1

# ROLLBACK 

config firewall policy
    delete 1
    delete 2
end

config router static
    delete 10
end

config vpn ipsec phase2-interface
    delete "IPSEC-TU1-P2"
end

config vpn ipsec phase1-interface
    delete "IPSEC-TU1"
end

config system interface
    delete "IPSEC-TU1"
end

config firewall address
    delete "LAN-LOCAL"
    delete "LAN-REMOTE"
end
