#Objetos de
set address LAN-LOCAL ip-netmask 10.1.1.0/24
set address LAN-REMOTE ip-netmask 10.2.1.0/24


# Phase 1

set network ike crypto-profiles ike-crypto-profiles IKE-PROFILE-IPSEC-TU1 encryption aes-256-cbc
set network ike crypto-profiles ike-crypto-profiles IKE-PROFILE-IPSEC-TU1 hash sha256
set network ike crypto-profiles ike-crypto-profiles IKE-PROFILE-IPSEC-TU1 dh-group group14
set network ike crypto-profiles ike-crypto-profiles IKE-PROFILE-IPSEC-TU1 lifetime seconds 28800


# Phase 2

set network ike crypto-profiles ipsec-crypto-profiles IPSEC-PROFILE-IPSEC-TU1 esp encryption aes-256-cbc
set network ike crypto-profiles ipsec-crypto-profiles IPSEC-PROFILE-IPSEC-TU1 esp authentication sha256
set network ike crypto-profiles ipsec-crypto-profiles IPSEC-PROFILE-IPSEC-TU1 dh-group group14
set network ike crypto-profiles ipsec-crypto-profiles IPSEC-PROFILE-IPSEC-TU1 lifetime seconds 3600


# Criar interface tunnel - zona vpn

set network interface tunnel units tunnel.1 ip 169.255.1.1/30
set network virtual-router default interface tunnel.1
set zone vpn network layer3 tunnel.1


# IKE Fase 1

set network ike gateway IKE-GW-IPSEC-TU1 authentication pre-shared-key key JJjdjnnjcv9fugp
set network ike gateway IKE-GW-IPSEC-TU1 protocol ikev2 ike-crypto-profile IKE-PROFILE-IPSEC-TU1
set network ike gateway IKE-GW-IPSEC-TU1 local-address interface ethernet1/1
set network ike gateway IKE-GW-IPSEC-TU1 local-address ip 203.0.113.10
set network ike gateway IKE-GW-IPSEC-TU1 peer-address ip 203.0.113.9


# IPSEC Tunnel Fase 2

set network tunnel ipsec IPSEC-TU1 tunnel-interface tunnel.1
set network tunnel ipsec IPSEC-TU1 auto-key ike-gateway IKE-GW-IPSEC-TU1
set network tunnel ipsec IPSEC-TU1 auto-key ipsec-crypto-profile IPSEC-PROFILE-IPSEC-TU1


# Regras de Proxy ID

set network tunnel ipsec IPSEC-TU1 auto-key proxy-id IPSEC-TU1-P2 protocol any
set network tunnel ipsec IPSEC-TU1 auto-key proxy-id IPSEC-TU1-P2 local 10.1.1.0/24
set network tunnel ipsec IPSEC-TU1 auto-key proxy-id IPSEC-TU1-P2 remote 10.2.1.0/24


# Rota estática para a rede remota

set network virtual-router default routing-table ip static-route ROUTE-IPSEC-TU1 destination 10.2.1.0/24
set network virtual-router default routing-table ip static-route ROUTE-IPSEC-TU1 interface tunnel.1
set network virtual-router default routing-table ip static-route ROUTE-IPSEC-TU1 nexthop ip-address 169.255.1.2


# Policy OUT

set rulebase security rules LAN-VPN from trust
set rulebase security rules LAN-VPN to vpn
set rulebase security rules LAN-VPN source LAN-LOCAL
set rulebase security rules LAN-VPN destination LAN-REMOTE
set rulebase security rules LAN-VPN application any
set rulebase security rules LAN-VPN service any
set rulebase security rules LAN-VPN action allow


# Policy IN

set rulebase security rules VPN-LAN from vpn
set rulebase security rules VPN-LAN to trust
set rulebase security rules VPN-LAN source LAN-REMOTE
set rulebase security rules VPN-LAN destination LAN-LOCAL
set rulebase security rules VPN-LAN application any
set rulebase security rules VPN-LAN service any
set rulebase security rules VPN-LAN action allow

commit


#ROLLBACK SCRIPT

configure

delete rulebase security rules LAN-VPN
delete rulebase security rules VPN-LAN
delete network virtual-router default routing-table ip static-route ROUTE-IPSEC-TU1
delete network tunnel ipsec IPSEC-TU1
delete network ike gateway IKE-GW-IPSEC-TU1
delete network ike crypto-profiles ipsec-crypto-profiles IPSEC-PROFILE-IPSEC-TU1
delete network ike crypto-profiles ike-crypto-profiles IKE-PROFILE-IPSEC-TU1
delete zone vpn network layer3 tunnel.1
delete network virtual-router default interface tunnel.1
delete network interface tunnel units tunnel.1
delete address LAN-LOCAL
delete address LAN-REMOTE

commit