#
set network ike crypto-profiles ike-crypto-profiles IKE-PROFILE-AES256 \
    encryption [ aes-256-cbc ] \
    hash [ sha256 ] \
    dh-group [ group14 ] \
    lifetime seconds 28800

#
set network ike crypto-profiles ipsec-crypto-profiles IPSEC-PROFILE-AES256 \
    encryption [ aes-256-cbc ] \
    authentication [ sha256 ] \
    dh-group group14 \
    lifetime seconds 3600
#
set network ike gateway IPSEC-TU1-GW \
    authentication pre-shared-key key 89sdu89vfyhuiwe49j \
    protocol ikev2 \
    protocol-common nat-traversal enable no \
    local-address ip 203.0.113.10 \
    peer-address ip 198.51.100.20 \
    ikev2 ike-crypto-profile IKE-PROFILE-AES256
#
set network tunnel ipsec IPSEC-TU1 \
    auto-key ike-gateway IPSEC-TU1-GW \
    auto-key ipsec-crypto-profile IPSEC-PROFILE-AES256 \
    tunnel-monitor enable no \
    anti-replay yes \
    copy-tos no
#
set network interface tunnel units tunnel.1 \
    comment "IPSEC-TU1 to Fortigate" \
    ip 10.32.160.1/32
#
set zone VPN network layer3 [ tunnel.1 ]
#
set network tunnel ipsec IPSEC-TU1 \
    auto-key proxy-id PROXY-LAN \
    local 10.1.1.0/24 \
    remote 10.2.1.0/24 \
    protocol any

# 
set network virtual-router default routing-table ip static-route ROUTE-TO-FORTI \
    destination 10.2.1.0/24 \
    nexthop tunnel.1

#
set rulebase security rules ALLOW-VPN-OUTBOUND \
    from [ trust ] \
    to [ VPN ] \
    source [ 10.1.1.0/24 ] \
    destination [ 10.2.1.0/24 ] \
    application [ any ] \
    service [ any ] \
    action allow
#
set rulebase security rules ALLOW-VPN-INBOUND \
    from [ VPN ] \
    to [ trust ] \
    source [ 10.2.1.0/24 ] \
    destination [ 10.1.1.0/24 ] \
    application [ any ] \
    service [ any ] \
    action allow
#
commit


# show commands
show vpn ike-sa gateway IPSEC-TU1-GW
show vpn ipsec-sa tunnel IPSEC-TU1
show vpn flow name IPSEC-TU1
