#
SWITCH_HOST=
SWITCH_PORT=22
SWITCH_USERNAME=
SWITCH_PASSWORD=
SWITCH_SECRET=
DEVICE_TYPE=cisco_ios
#
DEFAULT_HOSTNAME=SWITCH_AUTOMATIZADO
#
VLAN_10_ID=10
VLAN_10_NAME=VLAN_DATA
#
VLAN_20_ID=20
VLAN_20_NAME=VLAN_VOICE
#
VLAN_50_ID=50
VLAN_50_NAME=VLAN_SECURITY
#
BACKUP_DIR=backups
#
APP_HOST=127.0.0.1
APP_PORT=5000
DEBUG=False
